body {
    background-image: url("header2.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 1348px 393px;
    font-family: 'Roboto', sans-serif;    
}

img {
    position: relative;
    margin-top: 60px;
    margin-left: 520px;

}

.text{
    color: white;
    position:absolute;
    left:33%;
    top:50%;
    font-size: 7px;
    word-spacing: 50px;
}


i.fas,
i.far {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.3;
}

.btn1{
    position: absolute;
    top: 45%;
    left: 33%;
}

.btn2{
    position: absolute;
    top: 45%;
    left: 40%;
}
.btn3{
    position: absolute;
    top: 45%;
    left: 47%;
}
.btn4{
    position: absolute;
    top: 45%;
    left: 54%;
}
.btn5{
    position: absolute;
    top: 45%;
    left: 61%;
}
.btn6{
    position: absolute;
    top: 45%;
    left: 68%;
}



i.fab{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.3;

}
.twitter{
    position: absolute;
    top: 0%;
    left: 91%;

}
.facebook{
    position: absolute;
    top: 0%;
    left: 93%;

}
.google{
    position: absolute;
    top: 0%;
    left: 95%;
}

.text1{
    position:absolute;
    min-height: 20px;
    width: 200px;
    left:570px;
    top:400px;
    background: rgba(80, 76, 90, 0.3); 
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 20%;
}
