body {
    background-image: url("header_bg.jpg");
    background-repeat: no-repeat;
    background-color: #d6d3d3;
    background-size: 1349px 667px;;
   }

img {
    position: relative;
    margin-top: 150px;
    margin-left: 520px;
    line-height: 1.7em; 
    font-family: 'Roboto', sans-serif;

}

i.fas,
i.far {
    font-size: 35px;
    color: white;
    opacity: 0.3;
    padding: 20px;

}

.btn1{
    margin-top: 200px;
}
